<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contentImageName</key>
		<string>me</string>
		<key>iconImageName</key>
		<string>MoreMessage</string>
		<key>userName</key>
		<string>awake</string>
		<key>contentName</key>
		<string>吊吊吊</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>me</string>
		<key>iconImageName</key>
		<string>MoreMessage</string>
		<key>userName</key>
		<string>阿罗吧</string>
		<key>contentName</key>
		<string>the voice </string>
	</dict>
</array>
</plist>
